<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="contact.css">
</head>
<body>
    <div class="container">
        <h1>Contact Me</h1>
        <p>Email: <a href="mailto:kk9797307@gmail.com">kk9797307@gmail.com</a></p>
        <p>Phone: +91 9572880212</p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/kundan-kumar-25b97824a" target="_blank">kundan-kumar-25b97824a</a></p>
        <p>GitHub: <a href="https://github.com/KundanPW" target="_blank">KundanPW</a></p>
    </div>
</body>
</html>
